# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Node.js/React
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log
logs/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store